# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/pack.js

# config TODO Seems a little risky but it's noisy otherwise.
/config

# dependencies
/node_modules

# production
/build

# packed files
/release
